<!DOCTYPE html>
<html>
    <head>
        <title>Log In</title>
    </head>

    <body>
        <form id="login-form">
            <input type="text" placeholder="Enter your username">
        </form>
    </body>
</html>