<!DOCTYPE html>
<html>
    <head>
        <title>Log In</title>
    </head>

    <body>
        <h1>Log in</h1>
        <form id="login-form">
            <label for="email">Email</label>
            <input type="email" placeholder="Enter your email">
            <label for="password">Password</label>
            <input type="password" placeholder="Enter your password">
            <button>Log in</button>
        </form>
    </body>
</html>