<!DOCTYPE html>
<html>
    <head>
        <title>Log In</title>
    </head>

    <body>
        <h1>Log in</h1>
        <form id="login-form" action="/login" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Enter your username">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter your password">
            <button>Log in</button>
        </form>
    </body>
</html>