<!DOCTYPE html>
<html>
    <head>
        <title>Store</title>
        <script src="products.js" defer></script>
    </head>

    <body>
        <h1>Store</h1>
        <div id="products"></div>
    </body>
</html>