#chat-interface, #chat-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#chat-interface {
    margin-bottom: 14px;
}

#chat-form {
    width: 50%;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
}

#message {
    width: 400px;
    height: 100px;
}